<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/bootstrap/css/justified-nav.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="masthead">
            <h3 class="text-muted"><a href="/">PsBlogs</a></h3>

                  
            <ul class="nav nav-justified">
                <li id="nav-home">
                    <a href="@Url.Action("Index","Home")">
                        <span class="glyphicon glyphicon-home"></span>
                        Home
                    </a>
                </li>
                <li id="nav-blog-list"><a href="@Url.Action("List", "Blog")"><span class="glyphicon glyphicon-list"></span> Blog list</a></li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li id="nav-log-in"><a href="@Url.Action("Index", "User")"> <span class=" glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
                }
                else
                {
                    <li id="nav-log-in"><a href="@Url.Action("Login", "User")"> <span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li id="nav-log-out"><a href="@Url.Action("LogOut", "User")"> <span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    
                }    

            </ul>
        </div>


        @RenderBody()
        <!-- Site footer -->
        <div class="footer">
            <p>&copy; Paweł 'soltys' Sołtysiak 2013</p>
            <p>
                <a href="http://github.com/soltys"><img height="32" width="32" src="@Url.Content("~/Content/icons/github.png")" alt="github icon" /></a>
                <a href="http://linkedin.com/in/psoltysiak"><img height="32" width="32" src="@Url.Content("~/Content/icons/linkedin.png")" alt="Linked icon" /></a>
                <a href="http://twitter.com/soltys"><img height="32" width="32" src="@Url.Content("~/Content/icons/twitter.png")" alt="twitter icon" /></a>
            </p>
        </div>

    </div> <!-- /container -->
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Scripts/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
