@model PSBlog.Models.User

@{
    ViewBag.Title = "Register";
}
@Styles.Render("~/Content/LoginStyle.css")
<h2>Register</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "User name" })
    @Html.ValidationMessageFor(model => model.UserName)

    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
    @Html.ValidationMessageFor(model => model.Password)


    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>


}

